body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container{
  width: 500px;
  max-height: 400px;
  background-color: rgb(128, 128, 128);
  border-radius: 10px;
  text-align: center;
  position: relative;
  transition: .6s ease-in-out;
}

.text{
  margin: 0 10px 30px ;
  font-size: 20px;
}

.fade{
  opacity: 1;
  transition: 1.2s;
}

button{
  padding: 8px 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: gray;
  box-shadow: 2px 4px  10px rgba(255, 255, 255, 0.894);
}